/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
  background-color: #f8f8f8;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #007bff;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li:not(:last-child) {
  margin-right: 1rem;
}

nav a {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

nav a:hover {
  color: #555;
}

/* Sección principal */
section {
  padding: 4rem 2rem;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #007bff;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}


h1{
    font-size: 2.5em;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

#dimg2 {
    width: 80px; 
    height: 80px;
}

#navfooter{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;

}


/* Footer */
footer {
  padding: 2rem;
  background-color: #333;
  color: #fff;
  text-align: center;
}

/* Fondo gris oscuro */
.modal-content {
  background-color: #2a2a2a;
  color: white;
  text-align: center;
  justify-items: center;
}

/* Título del modal en azul oscuro */
.modal-header {
  background-color: #1d1d1d;
  border-bottom: none;
  text-align: center;
  justify-items: center;
  text-shadow: #000;
}
.modal-title {
  color: #0072c6;
}

/* Botón cerrar en blanco con borde en azul oscuro */
.close {
  color: white;
}
.close:hover {
  color: #0072c6;
}

/* Detalles del Digimon en azul claro */
#modal-digimon-name {
  color: #0072c6;
}
#modal-digimon-level {
  color: #c3c3c3;
}

/* Imagen del Digimon con borde en azul oscuro */
#modal-digimon-img {
  border: 2px solid #0072c6;
}

/* Botón de acción con fondo azul oscuro y texto blanco */
.modal-footer button {
  background-color: #0072c6;
  color: white;
  border: none;
}
.modal-footer button:hover {
  background-color: #005eac;
}


